@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.chatSection{
    padding: 20px;
}
.rahul {
    font-size: large;
    color: white;
    font-family: Roboto;
    margin-left: 200px;
}
.heading{
    background-color: #323f4b;
    width: 100vw;
    height: 10vh;
    display: flex;
    padding-left: 10px;
}
.button {
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    width: 90vw;
    height: 7vh;
    border-width: 0px;
    color: white;
}

.button-blue {
    text-align: right;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 8px;
    background-color: #47a3f3;

}

.button-grey {
    text-align: left;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 8px;
    background-color: #52606d;
}

.para {
    padding: 0px;
    text-align: right;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;

}